
/*домашнее задание 4*/
/*контакты в шапке*/

a {
  text-decoration:none;
  color: #000 
}



/*Портфолио*/



 


html {
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/*навигация*/
 .container-heder {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  
}
.nav {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.menu-items{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    list-style: none;
}

.flex-nav {
    display: flex;
}
.flex-nav li + li {
 margin-left: 50px;
}
.flex-nav li {
/*outline: 2px solid #2196f3;*/
}


  .menu-items {
    display: flex;
      }
  .menu-items li + li {
 margin-left: 30px;
  }
  .menu-button li + li {
    margin-left: 8px;
    list-style: none;

  
  }
  
 /*.menu-main{
   display: flex;
   list-style: none;
 }
  .menu-main li + li {
 margin-left: 30px;
}


/*<!--Флекс оформление-->*/
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /*outline: 2px solid #f06e22;*/
}
   
.section {
  padding-bottom: 94px;
    padding-top: 94px; 
    border-top: 1px solid#ECECEC;
}

.container-filter {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  

}
.button:not(:last-child) {
  margin-right: 8px
  border-radius: 4px;
}

/*футер*/
.footer {
  background-color: #2f303a;
  padding: 60px 0;}

.footer > .container {
  display: flex;
  justify-content: space-between;
}
.footer-block > a.logo {
    display: inline-block;
    margin-top: 60px;
  }

.address {
    list-style: none;
}

.address .contacts {
  display: block;
  color: var(--part-txt-color);
  list-style: none;
  padding: 0;
}
.block-padding{
  padding-left: 0;
  padding-right: 0;
}

.footer-block >.heder-social{
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 72px;
  margin-bottom: 20px;
}

.footer-social  {
  display: flex;
   list-style: none;
  
}
.link-items:not(:last-child) {
    margin-right: 10px;
  }

  /*соцсети футер*/
.soc-footer {
  
  justify-content: center;
  align-items: center;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  border-radius: 50%;
}

.soc-footer:hover,
.soc-footer:focus {
background-color: var(--accent-color);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


/*кнопка футер*/
 .fly::after {
   display:inline-block;
   content: "";
   width: 15px;
   height: 15px;
   margin-left: 10px;
   background-image: url(../images/дз4/fly.svg);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: right;
  
 }

  


body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-txt-color);
  background: var(--main-bg-color);
}


.logo{
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
margin-bottom: 0px;
margin-top: 0px;
}
.logo-part {
  color: var(--accent-color);
}

.menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*синяя полоска актив*/
.active-link::after {
  display: flex;  
  content: "";
  top: 40px;
  left: 0px;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background: #2196f3;
  transform: translateY(34px);

}

.menu-list {
  list-style: none;
}
.menu-item {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.02em; 
color: var(--sec-txt-color);

  }
  .menu-item:focus,
  .menu-item:hover {
  color:  var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.menu-link:focus,
.menu-link:hover {
  color:  var(--accent-color);
  }
.btn:hover,
 .btn:focus{background:var(--accent-bg-color);
color: var(--features-bg-color);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}


  .btn{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
border: 1px solid transparent;
border-radius: 4px;
padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    padding-left: 22px;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.title {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
text-decoration: none;

}
.subtitle {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.88px;
letter-spacing: 0.03em;
color: var(--sec-txt-color);
text-decoration: none;

}





.text { 
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--part-txt-color);
}

.box-hover {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio-link img{
  display: block;
}

.port-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);


  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.text {
  padding: 0;
  margin: 0;
  color: 250ms;
}
.portfolio-link:hover .port-text {
  overflow: visible;
  transform: translateY(0);
  transition-duration: 250ms, cubic-bezier(0.4, 0, 0.2, 1);

}









.footer{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
background:var(--footer-bg-color);
} 

.logo-footer{
font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
color:var(--part-txt-color)
}
.logo-footerpart {
  color: var(--accent-color);
}

.contacts {
font-style: normal;
color:var(--part-txt-color);
}

.contacts-item {
  display: block;
  text-decoration: none;
    list-style: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  /*margin-top: 9px;*/
}

.heder-social{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--part-txt-color);

}

.aside {
font-weight: bold;
line-height: 1.14;
text-transform: uppercase;
color: var(--part-txt-color);
}

.button {
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  display: inline-block;
  letter-spacing: 0.06em;
  color: var(--part-txt-color);
  background: var(--accent-bg-color);
  width: 200px;
  height: 50px;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
 

}

.input-footer{
  
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  padding: 12px 0px 12px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
   

  }
  .button-form{
    display: flex;
    justify-content: center;
    border: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  