$main-txt-color: #212121;
$part-txt-color: #ffffff;
$accent-color: #2196f3;
$accent-bg-color: #2196f3;
$main-bg-color: #ffffff;
$sec-txt-color: #757575;
$features-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;

