//Постоянные клиенты

 .client-sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    color: #afb1b8;
   
  }
  .client-sprite:hover,
  .client-sprite:focus {
    color: $accent-color;
    border-color: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .client-sprite {
    fill: currentColor;
  
  }
  .client-icon {
    width: 44px;
    height: 59px;
  }
  
  .clients {
     display: flex;
    padding: 0;
    margin: 0;
    padding-bottom: 94px;
    padding-top: 94px;
    
    }
    .client-section{
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;
   
    }
  
  .clients-list {
   width: calc((100% - 30px * 5) / 6);
    margin-right: 30px;
  
  }
  
  .clients-list:nth-child(6n+0) {
    margin-right: 0;
  }