
//Особенности

.section {
  list-style:none;
  display: flex;
  padding: 0;
  margin: 0;
 
  }

     
 .features{
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  width: calc((1200 - 90px) / 4);
 

  & li {
    margin-right: 30px;  
    }

   & li:nth-child(4n+0) {
  margin-right: 0;}
}


.features-block {
    display:flex;
     height: 120px;
     width: 270px;
    background-color: $features-bg-color;
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
 }
 .icon-features{
    height: 70px;
     width: 70px;
     
 }

 
 .text { 
     font-weight: normal;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     margin-top: 0px;
     margin-bottom: 0px;
     color: $sec-txt-color;
 
 }
 