//кнопки меню 

a {
  text-decoration:none;
  color: #000 
}

.section {
  padding-bottom: 94px;
    padding-top: 94px; 
    border-top: 1px solid#ECECEC;
}
.container-filter {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
    
}

.btn{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 6px;
      padding-right: 22px;
      padding-bottom: 6px;
      padding-left: 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  

  &:hover,
 &:focus{background:$accent-bg-color;
color: $features-bg-color;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}
 }

 .button:not(:last-child) {
  margin-right: 8px;
  border-radius: 4px;
}

//------- Блоки


.container-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}
.container-li {
  display: block;
 margin-right: 30px;
  width: calc((100% - 60px) / 3); 

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;  
   
}

&:nth-child(3n+0) {
  margin-right: 0;}
}

.container-li {
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  
  
  &:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
  }
  
  &:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16)
  }
}

.portfolio-link img{
  display: block;
}

.portfolio-link:hover .port-text {
  overflow: visible;
  transform: translateY(0);
  transition-duration: 250ms, cubic-bezier(0.4, 0, 0.2, 1);

}

.box-hover {
  position: relative;
  display: block;
  overflow: hidden;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}
    
    .port-text {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    
      padding: 63px 24px;
    
      background-color: rgba(33, 150, 243, 0.9);
    
    
      transform: translateY(100%);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .text { 
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      text-decoration: none;
      color: $part-txt-color;
      padding: 0;
      margin: 0;
      color: 250ms;
      }
      
    
    .block-text{
      padding-left: 24px;
      padding-right: 24px;
      padding-bottom: 20px;
      padding-top: 20px;
      }

      

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    
    }
    .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88px;
    letter-spacing: 0.03em;
    color: $sec-txt-color;
    text-decoration: none;
    
    }
    
      
    
    
    
  
   
    
    
    